* {
    box-sizing: border-box;
    }

.dataform {
    max-width: 400px;
    margin: auto;
}

/* Background image */
body {
    background: url("Images/Background.jpg") no-repeat center fixed;
    background-size: cover;
    color: #ccc;
}

.textfield {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}